html{
    padding: 0px;
    margin: 0PX;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 0px;
    margin: 0PX;
 
}
h1{
    margin-bottom: 150px;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width:400px ;
    height:400px ;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    gap: 5px;
    
}

@media only screen and (max-width: 450px) {
    .game-board{
        width: 90vw;
        height: 90vw;

    }
  }



.cell1{
    border-right: 1px solid black ;
    border-bottom:1px solid black ;
}


.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
}