body{
    width: 100vw;
    height: 100vh;
    text-align: center;
 
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width:400px ;
    height:400px ;
    /* border: 2px outset black; */
      
    
}



.cell1{
    border-right: 1px solid black ;
    border-bottom:1px solid black ;
}
.cell2{
    border-right: 1px solid black ;
    border-bottom:1px solid black ;
}
.cell3{
    /* border-right: 1px solid black ; */
    border-bottom:1px solid black ;
}
.cell4{
    border-right: 1px solid black ;
    border-bottom:1px solid black ;
}
.cell5{
    border-right: 1px solid black ;
    border-bottom:1px solid black ;
}
.cell6{
    /* border-right: 1px solid black ; */
    border-bottom:1px solid black ;
}
.cell7{
    border-right: 1px solid black;
}
.cell8{
    border-right: 1px solid black ;
    /* border-left:1px solid black ; */
}

.boardcell{
    display: flex;
    justify-content: center;
    align-items: center;
}